<a href="https://colab.research.google.com/github/yr-x/BigData/blob/main/%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EA%B8%B0%EC%82%AC_%EC%8B%A4%EA%B8%B0_%EC%9E%91%EC%97%851.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
data = pd.read_csv('boston.csv')
data.head(10)
data.sort_values(by = 'MEDV', ascending = True)['MEDV'].head(10)

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

In [17]:
data.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,NaN,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9

In [26]:
data_rm1 = data['RM'].copy()

In [27]:
data_rm1.isnull().sum()

15

In [28]:
data_rm1.fillna(data_rm1.mean(), inplace = True)

In [29]:
data_rm2 = data['RM'].copy()
data_rm2.dropna(inplace=True)

In [38]:
abs(data_rm1.std()-data_rm2.std())

0.010595546094104513

In [49]:

zn_mean = data['ZN'].mean()
max = zn_mean + data['ZN'].std()*1.5
min = zn_mean - data['ZN'].std()*1.5
data[data['ZN'] > max]['ZN'].sum()

3462.5

In [80]:
data1 = data.drop(columns=['CHAS','RAD'])
data1.describe()
data2 = data1.iloc[[4,6]].T
data2[4]-data2[6]

CRIM       -0.01924
ZN        -12.50000
INDUS      -5.69000
NOX        -0.06600
RM              NaN
AGE       -12.40000
DIS         0.50170
TAX       -89.00000
PTRATIO     3.50000
B           1.30000
LSTAT      -7.10000
MEDV       13.30000
dtype: float64

In [86]:
data.sort_values(by = 'MEDV', ascending = False)['MEDV'].head(30)
data3 = data.iloc[0:29] = 41.7

In [90]:
data['MEDV']
data['MEDV'].mean(), data['MEDV'].median(),data['MEDV'].min(), data['MEDV'].max()

(23.73833992094862, 21.85, 5.0, 50.0)

In [103]:
tax_median = data['TAX'].median()
data4 = data[data['TAX']>tax_median][['CHAS','RAD']]
data4 = data4.groupby(['CHAS','RAD'])['RAD'].count()
data4.columns = ['count']
print(data4)

CHAS  RAD
0.0   1.0       3
      2.0       2
      3.0       5
      4.0      33
      5.0      51
      6.0      17
      24.0    124
1.0   5.0       7
      24.0      8
Name: RAD, dtype: int64

In [122]:
tax_asc=data['TAX'].copy()
tax_asc.sort_values(ascending=True, inplace = True)
tax_asc.reset_index(drop=True, inplace=True)
tax_des=data['TAX'].copy()
tax_des.sort_values(ascending=False, inplace=True)
tax_des.reset_index(drop=True, inplace=True)
concat = pd.concat([tax_asc,tax_des], axis=1)
concat['diff']= abs(concat.iloc[:,0]-concat.iloc[:,1])
print(concat)

       TAX    TAX   diff
0     41.7  711.0  669.3
1     41.7  711.0  669.3
2     41.7  711.0  669.3
3     41.7  711.0  669.3
4     41.7  711.0  669.3
..     ...    ...    ...
501  711.0   41.7  669.3
502  711.0   41.7  669.3
503  711.0   41.7  669.3
504  711.0   41.7  669.3
505  711.0   41.7  669.3

[506 rows x 3 columns]

In [140]:
from sklearn.preprocessing import MinMaxScaler
data= pd.read_csv('boston.csv')
scaler = MinMaxScaler()
data5 = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)

In [145]:
data5[data5['MEDV']>0.5]['MEDV'].count()

106

In [164]:
from sklearn.preprocessing import StandardScaler
data.head(10)
scaler = StandardScaler()
data6 = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)['DIS'] 
round(data6[(data6 > 0.4) & (data6<0.6)].mean(),2)

0.48